<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <div class="container text-center mt-5">
        <h1><%= community.name %></h1>
        <div class="d-grid gap-2">
            <form action="/community/<%= community.id %>" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="mb-3">
                    <label for="about" class="form-label">About</label>
                    <input type="text" class="form-control" name="about">
                    <div id="description-text" class="form-text">What you would like others to know about yourself</div>
                </div>
                <div class="mb-3">
                    <label for="website" class="form-label">Website</label>
                    <input type="url" class="form-control" name="website">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="mb-3" style="display: none;">
                    <label for="communities" class="form-label">Community</label>
                    <input type="text" class="form-control" name="communities" value="<%= community.id %>">
                </div>
                <input type="submit" class="btn btn-primary" value="Add Member">
            </form>
        </div>
        <div class="container mt-2">
            <a href="/community/<%= community.id %>" class="btn btn-secondary">Back</a>
        </div>
    </div>
</body>
</html>